*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    display: flex;
}

.box{
    display: flex;
    min-height: 19vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: pink;
    border: 1px solid black;
}

.box2{
    min-height: 19vh;
    background-color: pink;
    border: 1px solid black;
    padding: 15px;
}  

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 19vh;
    background-color: red;
    border: 1px solid white;
}
